<style>
  .navbar{
      display:none;
  }
</style>

<div class="signinbackground">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1>Sign Up is not available at this time</h1>
       </div>

            </div>
</div>