<div class="modal blur jump-to-modal" id="jump-to-menu">
  <div class="modal-dialog modal-lg">
    <div class="clearfix">
      <button type="button" class="close pull-right text-white-dk"
              data-dismiss="modal" aria-hidden="true"><h1>&times;</h1></button>
    </div>
    <div class="container-fluid">
      <div class="row text-center vpadded-row">        <div class="col-sm-4">
        <a href="dashboard.html">            <div>
          <i class="fa fa-calendar fa-5x text-white "></i>
          <h5 class = "text-white">Dashboard</h5>
        </div>
        </a>        </div>
        <div class="col-sm-4">
          <a href="widgets.html">            <div>
            <i class="fa fa-calendar fa-5x text-white"></i>
            <h5 class = "text-white">Widgets</h5>
          </div>
          </a>        </div>
        <div class="col-sm-4">
          <a href="elements/cards/turbocards.html">            <div>
            <i class="fa fa-calendar fa-5x text-white"></i>
            <h5 class = "text-white">UI Elements</h5>
          </div>
          </a>        </div>
      </div><div class="row text-center vpadded-row"><div class="row text-center vpadded-row"></div><div class="row text-center vpadded-row"></div>         <div class="col-sm-4">
      <a href="charts.html">            <div>
        <i class="fa fa-calendar fa-5x text-white"></i>
        <h5 class = "text-white">Charts</h5>
      </div>
      </a>        </div>
      <div class="col-sm-4">
        <a href="forms.html">            <div>
          <i class="fa fa-calendar fa-5x text-white"></i>
          <h5 class = "text-white">Forms</h5>
        </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="tables.html">            <div>
          <i class="fa fa-calendar fa-5x text-white"></i>
          <h5 class = "text-white">Tables</h5>
        </div>
        </a>        </div>
    </div><div class="row text-center vpadded-row"> <div class="row text-center vpadded-row"></div> <div class="row text-center vpadded-row"></div>        <div class="col-sm-4">
      <a href="panels.html">            <div>
        <i class="fa fa-calendar fa-5x text-white"></i>
        <h5 class = "text-white">Panels</h5>
      </div>
      </a>        </div>
      <div class="col-sm-4">
        <a href="components/timeline.html">            <div>
          <i class="fa fa-calendar fa-5x text-white"></i>
          <h5 class = "text-white">Components</h5>
        </div>
        </a>        </div>
      <div class="col-sm-4">
        <a href="pages/sign_in.html">            <div>
          <i class="fa fa-calendar fa-5x text-white"></i>
          <h5 class = "text-white">Pages</h5>
        </div>
        </a>        </div>
    </div></div>    </div>

</div>