<script type="text/template" id="bigdrop">
  <div class="panel panel-success no-margin-bottom">
    <div class="tab-content">
      <div class="padded tab-pane active fade in" id="uida56bc297a81315299c4364d205177240">
        <ul class="list-group list-group-connected">
          <li class="list-group-item">
            <a href="#">My Profile</a> <br>
            <small class="text-muted">Thu Nov 15, 2001</small>
            <i class="icm icm-star6 pull-right text-info"></i>
          </li>
          <li class="list-group-item">
            <a href="#">Eum est enim</a> <br>
            <small class="text-muted">Fri Oct 04, 1991</small>
            <i class="icm icm-star6 pull-right text-info"></i>
          </li>
          <li class="list-group-item">
            <a href="#">Corporis ut deserunt</a> <br>
            <small class="text-muted">Wed Feb 19, 1992</small>
            <i class="icm icm-star6 pull-right text-info"></i>
          </li>
          <li class="list-group-item">
            <a href="#">Ut pariatur enim</a> <br>
            <small class="text-muted">Wed Aug 23, 2000</small>
            <i class="icm icm-star6 pull-right text-info"></i>
          </li>
          <li class="list-group-item">
            <a href="#">Rerum ipsum quaerat</a> <br>
            <small class="text-muted">Mon Aug 07, 2000</small>
            <i class="icm icm-star6 pull-right text-info"></i>
          </li>
        </ul>
        <div class="padded-top text-center">
          <a class="btn btn-default btn-xs" href="#">Show all events</a>
        </div>
      </div>
      <div class="padded tab-pane fade" id="uide51f992e73ef5a16f57291e0105a1279">
        <ul class="list-group list-group-connected">
          <li class="list-group-item">
            <a href="#">Eric Hobbs</a> <br>
            <small class="text-muted">billie-graves@hotmail.com</small>
          </li>
          <li class="list-group-item">
            <a href="#">Kailey Boswell</a> <br>
            <small class="text-muted">doris_hanna@hotmail.com</small>
          </li>
          <li class="list-group-item">
            <a href="#">Maisie Finch</a> <br>
            <small class="text-muted">inley_mcallister@live.com</small>
          </li>
          <li class="list-group-item">
            <a href="#">Constance Chappell</a> <br>
            <small class="text-muted">alondra-finch@gmail.com</small>
          </li>
          <li class="list-group-item">
            <a href="#">Davion Beasley</a> <br>
            <small class="text-muted">tracy_underwood@live.com</small>
          </li>
        </ul>
        <div class="padded-top text-center">
          <a class="btn btn-default btn-xs" href="#">Show all leads</a>
        </div>
      </div>
      <div class="padded tab-pane fade" id="uidf8b8ff0bf41c37d57bb863d8c542db93">
        <ul class="list-group list-group-connected">
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Sit reprehenderit ullam</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Aut facere quae</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Nobis omnis illo</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Tenetur aut magni</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Et nihil non</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Repellendus in ut</a>
          </li>
          <li class="list-group-item">
            <input type="checkbox" rel="icheck" class="table-checkable">
            <a href="#">Quaerat et facilis</a>
          </li>
        </ul>
        <div class="padded-top text-center">
          <a class="btn btn-default btn-xs" href="#">Show all tasks</a>
        </div>
      </div>
    </div>

    <div class="panel-colorize gradient-diag1">
      <ul class="nav nav-justified-all nav-arrow-top">
        <li class="active">
          <a href="#uida56bc297a81315299c4364d205177240" data-toggle="tab">
            <i class="icm icm-location"></i>
            <div>Events</div>
          </a>
        </li>
        <li>
          <a href="#uide51f992e73ef5a16f57291e0105a1279" data-toggle="tab">
            <i class="icm icm-users"></i>
            <div>Leads</div>
          </a>
        </li>
        <li>
          <a href="#uidf8b8ff0bf41c37d57bb863d8c542db93" data-toggle="tab">
            <i class="icm icm-list"></i>
            <div>Tasks</div>
          </a>
        </li>
      </ul>
    </div>

  </div>
</script>